h1,
p {
  text-align: center;
}
p {
  font-size: 20px;
}
img {
  position: relative;
  height: 200px;
  width: 200px;
}
#flying-pig {
  transform: scaleX(-1);
  border-radius: 50%;
  top: 700px;
}
.pedestals {
}
#pedestal-1 {
  left: 200px;
  top: 700px;
}
body {
  background: skyblue;
}
